body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        filter: invert(1);
    }
}

.image {
    width: 50vw;
}
